html {
	height: 100%;
}

body {
	font-family: 'Ubuntu', sans-serif;
	display: flex;
	justify-content: center;
	background: linear-gradient(135deg, #1a8425 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

#app {
	max-width: 70vw;
	background-color: #eee;
	padding: 1rem 3rem;
	border-radius: 4px;
	box-shadow: 0 0 10px #444;
}

.blog-post-rating img {
	width: 20px;
	height: 20px;
}

textarea.blog-post-body.read-only, section.blog-post-body.editable {
	display: none;
}

textarea.blog-post-body.editable, section.blog-post-body.read-only {
	display: block;
}