html {
  height: 100%;
}
body {
  font-family: 'Ubuntu', sans-serif;
  display: flex;
  font-size: 19.8px;
  justify-content: center;
  background: linear-gradient(135deg, #1a8425 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
body #app {
  max-width: 70vw;
  background-color: #eee;
  padding: 1rem 3rem;
  border-radius: 4px;
  box-shadow: 0 0 10px #444;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  -ms-border-radius: 20px;
}
body #app #blogPosts {
  padding: 5px;
}
body #app #blogPosts .blog-post.error {
  background-color: #900121;
}
body #app #blogPosts .blog-post .blog-post-rating img {
  width: 20px;
  height: 20px;
}
body #app #blogPosts .blog-post .blog-post-body {
  display: none;
}
body #app #blogPosts .blog-post .blog-post-body.editable,
body #app #blogPosts .blog-post .blog-post-body.read-only {
  display: block;
}
